/* Start variables */
:root {
  --Main-Color: #b11cbe;
}
/* End Variables */
/* Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* Small Screen */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
/* Mid Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* L-Screen */
@media (min-width: 1200) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Header Start */
.header {
  padding: 20px;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .Logo {
  width: 70px;
}
.header .links {
  position: relative;
}
.header .links:hover .b-Icon span:first-child {
  width: 50%;
}
.header .links:hover .b-Icon span:nth-child(2) {
  width: 100%;
}
.header .links:hover .b-Icon span:last-child {
  width: 50%;
}
.header .links .b-Icon {
  width: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .b-Icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .b-Icon span:first-child {
  height: 3px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .b-Icon span:nth-child(2) {
  height: 2px;
  width: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .b-Icon span:last-child {
  height: 2px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border: 10px solid;
  top: -20px;
  right: 7.5px;
  border-color: transparent transparent #f6f6f6;
}
.header .links ul li a {
  display: block;
  text-decoration: none;
  color: #222;
  padding: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #eee;
}
/* Header End */
/* Landing Start */
.landing {
  background-image: url(../images/img1.jpg);
  background-size: cover;
  height: calc(100vh - 68px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  color: var(--Main-Color);
}
.landing .intro-text p {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 320px;
  max-width: 100%;
}
/* Landing End */
