/* Start variables */
:root {
  --Main-Color: #2cbe;
  --Secondry-color: #2c4755;
  --third-color: #f6f6f6;
  --Main-Pad: 60px;
}
/* End Variables */
/* Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Mid Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* L-Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End components */
/* Header Start */
.header {
  padding: 20px;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .Logo {
  width: 70px;
}
.header .links {
  position: relative;
}
.header .links:hover .b-Icon span:first-child {
  width: 50%;
}
.header .links:hover .b-Icon span:nth-child(2) {
  width: 100%;
}
.header .links:hover .b-Icon span:last-child {
  width: 50%;
}
.header .links .b-Icon {
  width: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .b-Icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .b-Icon span:first-child {
  height: 2px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .b-Icon span:nth-child(2) {
  height: 2px;
  width: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .b-Icon span:last-child {
  height: 2px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: var(--third-color);
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border: 10px solid;
  top: -20px;
  right: 7.5px;
  border-color: transparent transparent var(--third-color);
}
.header .links ul li a {
  display: block;
  text-decoration: none;
  color: #222;
  padding: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li a:hover {
  background: linear-gradient(to right, rgb(4, 62, 77), rgb(24, 124, 206));
  padding-left: 40px;
  color: white;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #eee;
}
/* Header End */
/* Landing Start */
.landing {
  background-image: url(../images/3899617.webp);
  background-size: cover;
  /* background-attachment: fixed; */
  height: calc(100vh - 68px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--Main-Color);
}
.landing .intro-text p {
  line-height: 1.8;
  font-size: 19px;
  width: 320px;
  max-width: 100%;
}
/* Landing End */
/* Features Start */
.features {
  padding-top: var(--Main-Pad);
  padding-bottom: var(--Main-Pad);
  background-color: var(--third-color);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  text-align: center;
  padding: 20px;
}
.features .feat i {
  color: var(--Main-Color);
  margin-bottom: 10px;
}
.features .feat h3 {
  font-weight: 800;
  text-transform: capitalize;
  margin: 15px 0;
}
.features .feat p {
  text-transform: capitalize;
  line-height: 1.8;
  color: #777;
  font-size: 18px;
}
/* Features End */
/* Services Start */
.services {
  padding-top: var(--Main-Pad);
  padding-bottom: var(--Main-Pad);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--Main-Color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services-content .image::before {
  content: "";
  position: absolute;
  height: calc(100% + 100px);
  width: 100px;
  background-color: var(--Secondry-color);
  right: 0px;
  top: -50px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* Services End */
/* Start portfolio */
.portfolio {
  background-color: var(--third-color);
  padding-top: var(--Main-Pad);
  padding-bottom: var(--Main-Pad);
}
.portfolio .Portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 100px;
}
.portfolio .Portfolio-content .card {
  background-color: white;
}
/* Should get photos with same width */
.portfolio .Portfolio-content .card img {
  max-width: 100%;
}
.portfolio .info {
  padding: 20px;
}
.Portfolio-content .info h3 {
  margin: 0;
}
.Portfolio-content .info p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 0;
}
/* end portfolio */
